html,body,#container {
  height: 100%;
  margin: 0;
}

body {
  background: #efefef;
  font-size: 13px;
  font-family: "Roboto",Roboto,arial,sans-serif;
  margin-bottom: 144px;
}

h1 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
  margin: 4px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

li {
  list-style: none;
}

a {
  color: #167ac6;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}

a {
  color: #167ac6;
  cursor: pointer;
  text-decoration: none;
}

a:hover,a:focus {
  text-decoration: underline;
}

a:focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  outline-offset: -2px;
}

a {
  color: rgb(66, 139, 202);
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial;
  transition-property: color;
}

.accessible-description {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  background: #222;
  width: 100%;
  z-index: 1;
  height: 54px;
  text-align: center;
  position: fixed;
  bottom: 90px;
}

#header a:hover {
  text-decoration: none;
}

#header .link {
  color: #fff;
  padding: 4px 16px 0;
  margin: 12px 2px 0 2px;
  font-size: 15px;
  border-bottom: 0;
  display: inline-block;
  line-height: 38px;
  height: 38px;
  min-width: 60px;
  opacity: 0.5;
}

#header .active {
  font-weight: bold;
  opacity: 1;
}

#header .active:after {
  display: block;
  content: "";
  background: #fff;
  height: 6px;
  top: -5px;
  left: 10px;
  width: 40px;
  position: relative;
}

#yt, #ct {
  margin-bottom: 144px;
}

#yt .yt-lockup-thumbnail > span {
  position: relative;
  width: 100%;
  display: inline-block;
}

#yt .yt-badge-list {
  display: none;
}

#yt .video-time {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0 4px;
  font-weight: 500;
  font-size: 11px;
  background-color: #111;
  color: #ccc;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  display: inline-block;
}

#yt .channels-content-item * {
  vertical-align: top;
}

#yt .channels-content-item,
#news .td-block-span6 {
  box-shadow: inset 0 -160px 100px -100px rgba(16,16,16,0.85), inset 0 120px 100px -100px rgba(16,16,16,0.85);
  position: relative;
  height: 53.8vw;
}

#yt .yt-thumb-clip img,
#news .td-module-thumb img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

#news .td-module-thumb img {
  height: 100%;
}
#yt button, #yt .hid {
  display: none;
}

#yt .yt-lockup-content, 
#yt .yt-uix-sessionlink,
#news .td-module-title *,
#news .td-module-meta-info * {
  color: white;
}

#yt .yt-lockup-title,
#news .td-module-title {
  font-size: 18px;
  font-weight: normal;
  margin: 10px;
  position: absolute;
  bottom: 0;
}

#yt .yt-lockup-meta,
#news .td-module-meta-info {
  padding: 6px;
  text-align: right;
}

#yt .yt-lockup-thumbnail {
  height: 0;
}

#news .td-module-comments,
#news .td-post-author-name {
  display: none;
}

#ct {
  padding: 10px;
  font-size: 140%;
}

#ct h1 {
  font-size: 140%;
}

#market {
  display: block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("logo_140x48.png");
  background-position: center;
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100vw;
}

.mhide {
  display: none;
}

@media(min-width: 500px) {
  #header {
    height: 18px;
  }
  #header .link {
    display:none;
  }
  #yt {
    padding: 0;
    float: right;
    width: 300px;
    margin-bottom: 16px;
  }
  #yt .channels-content-item {
    height: 168px;
  }
  #news .td-block-span6 {
    height: calc((100vw - 300px) * 0.72);
  }
  #news {
    float: left;
    width: calc(100% - 300px);
  }
  .mhide {
    display: block;
  }
}
